<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::body}, 'owners')}">
<body>
<h2>Owner Information</h2>
<div th:object="${owner}">
    <div>Name: <b th:text="*{firstName + ' ' + lastName}"></b></div>
    <div>Address: <b th:text="*{address}"></b></div>
    <div>City: <b th:text="*{city}"></b></div>
    <div>Telephone: <b th:text="*{telephone}"></b></div>
</div>

<a th:href="@{__${owner.id}__/edit}" class="btn btn-primary">Edit Owner</a>
<a th:href="@{__${owner.id}__/pets/new}" class="btn btn-primary">Add New Pet</a>

<h2>Pets and Visits</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Birth Date</td>
        <td>Type</td>
        <td>Visit Date</td>
        <td>Description</td>
    </tr>
    </thead>
    <tr th:each="pet : ${owner.pets}">
        <td><span th:text="${pet.name}"></span></td>
        <td><span th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></span></td>
        <td><span th:text="${pet.type}"></span></td>
        <td>
            <div th:each="visit : ${pet.visits}">
                <p th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></p>
                <div><a th:href="@{__${owner.id}__/pets/__${pet.id}__/visits/new}">Add Visit</a></div>
            </div>
        </td>
        <td>
            <div th:each="visit : ${pet.visits}">
                <p th:text="${visit?.description}"></p>
                <div><a th:href="@{__${owner.id}__/pets/__${pet.id}__/edit}">Edit Pet</a></div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
